PY_RANSA_NET_MSG/RANSA_PY_NET_CL/Service References/ServicioPedidoRansaNet/ServicioPedido3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PY_RANSA_NET_WCF.Ws_RansaNet" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PY_RANSA_NET_WCF.Ws_RansaNet" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49839/ServicioPedido.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.ComponentModel" />
  <xs:complexType name="ArrayOfPedidoMovimientoRansa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PedidoMovimientoRansa" nillable="true" type="tns:PedidoMovimientoRansa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedidoMovimientoRansa" nillable="true" type="tns:ArrayOfPedidoMovimientoRansa" />
  <xs:complexType name="PedidoMovimientoRansa">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.ComponentModel" name="PropertyChanged" nillable="true" type="q1:PropertyChangedEventHandler" />
      <xs:element name="fecCreacionField" nillable="true" type="xs:dateTime" />
      <xs:element name="fecCreacionFieldSpecified" type="xs:boolean" />
      <xs:element name="fecFinField" nillable="true" type="xs:dateTime" />
      <xs:element name="fecFinFieldSpecified" type="xs:boolean" />
      <xs:element name="fecInicioField" nillable="true" type="xs:dateTime" />
      <xs:element name="fecInicioFieldSpecified" type="xs:boolean" />
      <xs:element name="fecMovimeintoField" nillable="true" type="xs:dateTime" />
      <xs:element name="fecMovimeintoFieldSpecified" type="xs:boolean" />
      <xs:element name="fecUpdateField" nillable="true" type="xs:dateTime" />
      <xs:element name="fecUpdateFieldSpecified" type="xs:boolean" />
      <xs:element name="idEstadopedidoField" type="xs:int" />
      <xs:element name="idEstadopedidoFieldSpecified" type="xs:boolean" />
      <xs:element name="idPedidoField" type="xs:int" />
      <xs:element name="idPedidoFieldSpecified" type="xs:boolean" />
      <xs:element name="idPedidoMovimientoField" type="xs:int" />
      <xs:element name="idPedidoMovimientoFieldSpecified" type="xs:boolean" />
      <xs:element name="idUsuarioCreadorField" type="xs:int" />
      <xs:element name="idUsuarioCreadorFieldSpecified" type="xs:boolean" />
      <xs:element name="idUsuarioUpdateField" type="xs:int" />
      <xs:element name="idUsuarioUpdateFieldSpecified" type="xs:boolean" />
      <xs:element name="nomEstadoPedidoField" nillable="true" type="xs:string" />
      <xs:element name="nomUsuarioCreadorField" nillable="true" type="xs:string" />
      <xs:element name="nomUsuarioUpdateField" nillable="true" type="xs:string" />
      <xs:element name="stsRegistroField" type="xs:byte" />
      <xs:element name="stsRegistroFieldSpecified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PedidoMovimientoRansa" nillable="true" type="tns:PedidoMovimientoRansa" />
</xs:schema>