PY_RANSANET/PY_RANSANET_CL/Service References/Ws_RansaNetMessage/ServicioPedido3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PY_RANSA_NET_EN" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PY_RANSA_NET_EN" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cls_PedidoEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdEstadoPedido" type="xs:int" />
      <xs:element minOccurs="0" name="IdPedido" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cls_PedidoEN" nillable="true" type="tns:Cls_PedidoEN" />
</xs:schema>