PY_RANSANET/PY_RANSANET_CL/Service References/ServiceReference1/WsRansaNet.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:logeowsdl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:logeowsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:logeowsdl">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="helloRequest">
    <wsdl:part name="name" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="helloResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="logeoRequest">
    <wsdl:part name="usuario" type="xsd:string" />
    <wsdl:part name="clave" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="logeoResponse">
    <wsdl:part name="return" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:portType name="logeowsdlPortType">
    <wsdl:operation name="hello">
      <documentation>Metodo hello</documentation>
      <wsdl:input message="tns:helloRequest" />
      <wsdl:output message="tns:helloResponse" />
    </wsdl:operation>
    <wsdl:operation name="logeo">
      <documentation>Metodo logeo</documentation>
      <wsdl:input message="tns:logeoRequest" />
      <wsdl:output message="tns:logeoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="logeowsdlBinding" type="tns:logeowsdlPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="hello">
      <soap:operation soapAction="urn:hellowsdl#hello" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:hellowsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:hellowsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logeo">
      <soap:operation soapAction="urn:logeowsdl#logeo" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:logeowsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:logeowsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="logeowsdl">
    <wsdl:port name="logeowsdlPort" binding="tns:logeowsdlBinding">
      <soap:address location="http://joventube.com/WsRansaNet.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>